#about {
  background: #2b2b2b;
  padding-bottom: 66px;
  overflow: hidden;
}
#about h2 {
  font-size: 1.7rem;
  font-family: "opensans-bold", sans-serif;
  color: #fff;
  margin-bottom: 12px;
}
.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description_content {
  padding: 25px 10px 10px 10px;
  width: 60%;
  max-width: 800px;
  margin: auto;
}
.description_content p {
  line-height: 30px;
  color: #7a7a7a;
}
.discription {
  text-align: justify;
}

.contact_content {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_info {
  flex: 1;
}

.download_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download_content p {
  height: fit-content;
  display: inline-block;
}

.btn_download {
  cursor: pointer;
  background: #444;
  font-size: 20px;
  font-family: "opensans-bold", sans-serif;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;

  transition: all 0.6s ease-in-out;
}
.btn_download:hover {
  background: #fff;
  color: #2b2b2b;
}
.btn_icon {
  font-size: 30px;
  padding-right: 10px;
}
