.header {
  position: relative;
  height: 800px;
  min-height: 100vh;
  width: 100%;
  background: 
    #161415 
    url(/public/images/traintracks_background.jpg) 
    no-repeat
    top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

.header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* scrolldown */
/* .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scrolldown a:hover {
  color: #11abb0;
} */
